$color-dark: #314543;
$color-base: #58805e;
$color-light: #e2e4dd;
$color-gold: #af7a1f;

body {
  background-color: $color-base;
  color: $color-light;
  padding-top: 150px;
  h1 {
    text-align: center;
  }

  hr {
    color: $color-light;
    margin: 20px 85px 5px 85px;
  }
  .container {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    form {
      .formTop {
        display: flex;
        margin: 3rem 0rem 3rem 0rem;
      }
      .formButtom {
        margin-bottom: 5rem;
      }
      .label {
        display: flex;
        flex-direction: column;
        padding-right: 2rem;
        label {
          font-size: 1.5rem;
          margin-bottom: 15px;
        }
      }
      .input {
        display: flex;
        flex-direction: column;
        input {
          background-color: #e2e4dd;
          color: #314543;
          border: none;
          outline: none;
          border-radius: 20px;
          padding: 6px 25px 6px 25px;
          margin-bottom: 15px;
        }
      }
      button {
        background-color: $color-dark;
        color: #e2e4dd;
        border: none;
        border-radius: 30px;
        padding: 10px 40px 10px 40px;
      }
    }
  }
}
